.subjectHeader{
	color: cadetblue;
	font-family: sans-serif;
}
#scoreBoard{

	color: darkgreen;
	border: 1px solid;
	border-color: black;
	text-align: center;
}
#scoreBoard thead{
	font-weight: bold;

}
#teamRoster li{
	list-style-type: square;
}
#checkbox-grid{
	list-style-type: none;
}
.hyperlink:hover {
	
	color:darkred;
	text-decoration: none;
}
ul li img{
	display: none;
}
#teamRoster{
	color: darkgreen;
	background: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg") top left no-repeat,
	url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg") bottom left no-repeat;
}